<div class = "announcement-show hidden-class">
	<div class = "announcement-title hidden-class">
		<%= @announcement.title %>
		<% if current_user.email == "k5m1nster@gmail.com" %>
		<%= link_to "Edit announcement", edit_announcement_path(@announcement), class: "btn btn-default" %>
		<%= link_to "Delete", @announcement, method: :delete, class: "btn btn-danger" %>
		<% end %>
	</div>
	<div class = "announcement-time hidden-class">
		Posted <%= time_ago_in_words(@announcement.created_at) %> ago.
	</div>
	<div class = "announcement-description hidden-class">
		<%= @announcement.description.html_safe %>
	</div>
</div>
<script>
	if ($(".announcement-show").hasClass("hidden-class")){
		setTimeout(function(){
			$(".announcement-show").removeClass("hidden-class").addClass("a-fast fadeInRight");
		},100);
		setTimeout(function(){
			$(".announcement-title").removeClass("hidden-class").addClass("a-fast fadeIn");
		},500);
		setTimeout(function(){
			$(".announcement-description,.announcement-time").removeClass("hidden-class").addClass("a-fast fadeIn");
		},600);
	}
</script>