<div>
	<div>
		<h1>New Homework Assignment</h1>
	</div>
	<div style = "text-align:center">
		<%= form_for(:assignment, url: assignments_path) do |f| %>
		<%= f.label "Title" %>
		<br />
		<%= f.text_field :title %>
		<br />
		<%= f.label "Description" %>
		<br />
		<%= f.text_area :description %>
		<br />
		<%= f.label "Due Date" %>
		<br />
		<%= f.text_field :duedate %>
		<br />
		<%= f.submit "Post" %>
		<% end %>

	</div>
</div>