<div>
	<div class = "topic-show-container">
		<div class = "topic-show-title">
			<%= @topic.title.capitalize %>
		</div>
		<div class = "topic-show-lesson-assignment-container">
			<div class = "topic-show-lesson-container">
				<div class = "topic-show-lesson-container-title titles">
					Lessons
				</div>
				<% if current_user.email == "k5m1nster@gmail.com" %>
				<div style = "text-align:center;margin:10px;">
					<%= link_to "New Lesson", new_topic_lesson_path(topic_id: @topic.id), class: "btn btn-default" %>
				</div>
				<% end %>
				<div class = "lesson-show-list">
					<% @topic.lessons.each do |lesson| %>
						<%= link_to topic_lesson_path(topic_id: @topic.id, id: lesson.id) do %>
						<div class = "topic-lesson"><%= @topic.title.capitalize + ' - ' + lesson.title.capitalize %></div>
						<% end %>
					<% end %>
				</div>
			</div>
			<div class = "topic-show-assignment-container">
				<div class = "topic-show-assignment-container-title titles">
					Assignments
				</div>
				<div class = "assignment-show-list">
					<% @topic.assignments.each do |assignment| %>
						<%= link_to topic_lesson_assignment_path(topic_id: @topic.id, lesson_id:assignment.lesson_id, id: assignment.id) do %>
							<div class = "topic-assignment">
								<%= assignment.title %>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>



</div>