<div style = "text-align:center">
	<%= form_for(@lesson, url: topic_lessons_path) do |f| %>
	<%= f.label "Title" %>
	<br />
	<%= f.text_field :title, maxlength: 34, class: "form-control", style: "width:80%;margin:0 auto" %>
	<br />
	<%= f.label "Description" %>
	<br />
	<%= f.text_area :description, class: "form-control", style: "width:80%;height:500px;margin: 0 auto" %>
	<br />
	<%= f.submit class: "btn btn-default"  %>
	<% end %>
</div>