<% @adminemail = "k5m1nster@gmail.com" %>
<div style = "text-align:center">
	<div class = "lesson-show-container">
		<div style = "text-align:center">
			<div class = "lesson-show-title">
				<%= @lesson.title.capitalize %>
				<%= link_to "Edit Lesson", edit_topic_lesson_path(@lesson), class: "btn btn-default" %>
			</div>
			<div class = "lesson-show-description">
				<%= @lesson.description.capitalize.html_safe %>
			</div>
			<div class = "lesson-assignment">
				<div style = "text-align:center">
					<h3>Assignments</h3>
				</div>
				<% if current_user.email == @adminemail %>
				<div>
					<%= link_to "New Assignment", new_topic_lesson_assignment_path(topic_id: @lesson.topic_id, lesson_id: @lesson.id), class: "btn btn-default" %>
				</div>
				<% end %>
				<% @lesson.assignments.each do |assignment| %>
				<div class = "lesson-assignment-div">
					<%= link_to assignment.title, topic_lesson_assignment_path(topic_id: @lesson.topic_id, lesson_id: @lesson.id,id: assignment.id) %>
				</div>
				<% end %>
			</div>
			<%= link_to "Back", :back, class: "btn btn-default", style: "margin:1rem" %>
		</div>
	</div>
</div>