<!DOCTYPE html>
<html>
<head>
  <title>MathTutor</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class = "notification">
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <div class = "navigation" style = "">
    <div class = "navigation-brand">
    </div>
  </div>
  <%= yield %>
  <script>
  
  </script>
</body>
</html>
