<!DOCTYPE html>
<html>
<head>
  <title>ThinkPowerMath</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>tinymce.init({ selector:'textarea' });</script>
  <meta name = "viewport" content = "width=device-width, initial-scale=1" />
  <%= mathjax_tag %>
</head>

<body>
  <div class="modal fade" style = "margin-top:100px" id="announcement-modal" tabindex="-1" role="dialog" aria-labelledby="announcementModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
          <h3 class="modal-title" id="announcement-modal-title" style = "font-weight:800"></h3>
        </div>
        <div id="announcement-modal-body" style = "padding-top:3rem;padding-bottom:3rem;padding-left:2rem;padding-right:2rem">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">More details</button>
        </div>
      </div>
    </div>
  </div>


  <div class = "index-menu a-fast">
    <% if current_user %>
    <div class = "menu-account">
      <%= current_user.name %>
    </div>
    <div class = "menu-signout">
      <%= link_to destroy_user_session_path, method: :delete, style: "text-decoration:none" do %>
      <span class="glyphicon glyphicon-log-out"></span> Sign Out
      <% end %>
    </div>
    <% else %>
    <div style = "margin-top:80px">

    </div>
    <div class = "menu-signin">
      <%= link_to "Sign In", sign_in_path, style: "text-decoration:none" %>
    </div>
    <div class = "menu-signup">
      <%= link_to "Sign Up", sign_up_path, style: "text-decoration:none" %>
    </div>
    <% end %>
    <div class = "menu-about">
      <%= link_to about_path, style: "text-decoration:none" do %>
      <span class = "glyphicon glyphicon-file"></span> About
      <% end %>
    </div>
    <div class = "menu-contact">
      <%= link_to contact_path, style: "text-decoration:none" do %>
      <span class = "glyphicon glyphicon-user"></span> Contact
      <% end %>
    </div>
  </div>
  <div>
    <% if notice || alert %>
    <div class = "notification">
    	<p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>
    <div class = "navigation">
      <div class = "menu-button">
        <span class = "glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <div class = "navigation-brand">
        <%= link_to "ThinkPowerMath", root_path, style: "text-decoration:none" %>
      </div>
      <div class = "nav">
        <%= link_to "Contact", contact_path, style: "text-decoration:none" %>
      </div>
      <div class = "nav">
        <%= link_to "About", about_path, style: "text-decoration:none" %>
      </div>
      <% if current_user %>
      <div class = "nav">
        <%= link_to destroy_user_session_path, method: :delete, style: "text-decoration:none" do %>
        Sign Out
        <% end %>
      </div>
      <div class = "nav">
        <%= link_to edit_user_registration_path, style: "text-decoration:none" do %>
        My Account
        <% end %>
      </div>
      <% else %>
      <div class = "nav">
        <%= link_to "Sign Up", sign_up_path, style: "text-decoration:none" %>
      </div>
      <div class = "nav">
        <%= link_to "Sign In", sign_in_path, style: "text-decoration:none" %>
      </div>
      <% end %>
    </div>
    <%= yield %>
    <div class = "footer">
    </div>
  </div>
  <script>
  $(document).ready(function(){
    var menuout = 0;
    setTimeout(function(){
      $('.notification').fadeOut(1000,function(){
        $(this).remove();
      });
    },2000);
    $(".menu-button").on("click",function(){
      if(menuout == 0){
        $(".index-menu").removeClass("fadeOutLeft");
        $(".index-menu").addClass("fadeInLeft");
        $(".index-menu").show();
        menuout = 1;
      }else{
        $(".index-menu").removeClass("fadeInLeft");
        $(".index-menu").addClass("fadeOutLeft");
        setTimeout(function(){
          $(".index-menu").hide();
        },500);
        menuout = 0;
      }

    });
  });

  </script>

</body>
</html>
